.dashboard-container {
  width: 80%;
  max-width: 800px;
  background: white;
  color: #000000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.logout-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}

/* Botones de hora */
.time-grid {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.time-btn {
  padding: 10px;
  border: 1px solid #ccc;
  background: #f8f9fa;
  cursor: pointer;
  border-radius: 4px;
}

.time-btn.selected {
  background-color: #007bff;
  color: rgb(0, 0, 0);
  border-color: #007bff;
}

/* Estilo para turno ocupado (Visualmente deshabilitado) */
.time-btn.disabled {
  background-color: #e9ecef;
  color: #adb5bd;
  cursor: not-allowed;
  text-decoration: line-through;
}

.confirm-card {
  border: 2px solid #28a745;
  background-color: #f0fff4;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
}